@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  background: plum;
  color: black;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.bottomright {
  position: relative;
  bottom: 8px;
  left: 16px;
  font-size: 50px;
  border-radius: 50%;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  50% {
    top: 100px !important;
  } /* ignored */
  to {
    top: 50px;
  }
}
button {
  background-color: rgb(144, 50, 144);
  border: purple;
  columns: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: o.8;

  margin: 4px 2px;
  cursor: pointer;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

.button1 {
  background-color: rgb(192, 84, 192);
  border: none;

  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-left: 10px;
}
.button1:hover {
  background-color: rgb(133, 50, 133);
  color: white;
}

.logos {
  border-radius: 50%;
  width: 110px;
}
.logo {
  max-width: 60px;
  height: auto;
  margin-left: 0;
  border-radius: 50%;
}
.demo {
  border-radius: 20%;

  display: inline-block;
  width: 325px;
  height: 350px;
  margin: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}
.demo:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
nav ul {
  list-style: none;
  text-align: center;
}
.footerBottom {
  background-color: plum;
}
nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem 1rem;
}

section h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(231, 237, 241);
  background-color: whitesmoke;
  background-size: auto;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 25px;
  width: 100%;
}
.search {
  width: 250px;
  height: 50px;
  display: flex;
  border-radius: 20px;
}

.searchTerm {
  width: 100%;
  border: 4px solid rgb(182, 109, 182);
  border-right: none;
  padding: 4px;
  height: auto;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: maroon;
}

.searchTerm:focus {
  color: rgb(67, 8, 37);
  font-size: 18px;
}

.search-button {
  height: 50px;
  background-color: 1px solid rgb(202, 124, 202);
  background: moccasin;
  color: rgb(62, 6, 40);
  cursor: pointer;
  font-size: 15px;
  width: 5%;
}
.searchButton {
  background-color: rgb(182, 109, 182);
  height: 50px;
  border-radius: 0 8px 8px 0;
  display: flex;
  text-align: center;
}
.searchButton:hover {
  color: white;
}
.main {
  background-image: url(image/bg.jpg);
  opacity: 0.8;
}

/* Responsive Styles */
@media (min-width: 768px) {
  nav ul li {
    display: inline-block;
  }

  section {
    max-width: 800px;
    margin: 0 auto;
  }
}
